<apv-page-header
  title="{{this.baseService.translate('visa-list-title')}}"
  backButton="true"
></apv-page-header>

<apv-scrollableTab
  [Tabs]="Categories"
  [selectedTab]="selectedTab"
  (onTabClick)="onTabClick($event)"
></apv-scrollableTab>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center ion-margin-vertical">
    <ion-col size="11" size-md="10" size-lg="8" class="first-col">
      <div *ngIf="selectedTab === 'new' ">
        <div class="bg-gradiant mb-4" *ngFor="let visa of visaList">
          <ion-card class="main-card m-0 p-0">
            <ion-card-header>
              <ion-card-title class="text-primary">{{visa.Title}}</ion-card-title>
              <ion-chip
                class="mt-3 me-0 pe-0 "
                *ngIf="visa.UserForm_Id"
                [color]="visa.UserForm_Status === FormStatus.Draft ? 'dark' : visa.UserForm_Status === FormStatus.Submit ? 'primary' : visa.UserForm_Status === FormStatus.Inprogress ? 'warning' : visa.UserForm_Status === FormStatus.Reject ? 'danger' : visa.UserForm_Status === FormStatus.Accept ? 'success' :'medium'"
              >
                <ion-badge
                  class="ms-2"
                  [color]="visa.UserForm_Status === FormStatus.Draft ? 'dark' : visa.UserForm_Status === FormStatus.Submit ? 'primary' : visa.UserForm_Status === FormStatus.Inprogress ? 'warning' : visa.UserForm_Status === FormStatus.Reject ? 'danger' : visa.UserForm_Status === FormStatus.Accept ? 'success' :'medium'"
                >
                  {{visa.UserForm_FormStatus_Title}}
                </ion-badge>
                {{visa.UserForm_Update_Date | jdate:'date'}}
              </ion-chip>
            </ion-card-header>
            <ion-card-content *ngIf="!visa.UserForm_Id" class="text-small">
              {{visa.Description}}
            </ion-card-content>
            <ion-card-content
              *ngIf="visa.UserForm_Id"
              class="d-flex flex-column text-small"
            >
              <ion-text
                [color]="visa.UserForm_Status === FormStatus.Draft ? 'dark' : visa.UserForm_Status === FormStatus.Submit ? 'primary' : visa.UserForm_Status === FormStatus.Inprogress ? 'warning' : visa.UserForm_Status === FormStatus.Reject ? 'danger' : visa.UserForm_Status === FormStatus.Accept ? 'success' :'medium'"
                class="text-small"
                >{{
                this.baseService.translate("visa-list-level1-descriptionTite")
                }}</ion-text
              >
              {{visa.UserForm_Note}}
            </ion-card-content>
            <div class="d-flex ion-justify-content-center mb-3">
              <ion-button
                *ngIf="!visa.UserForm_Id"
                [routerLink]="['/home/visa', 'new' , visa.Id, visa.UserForm_Id ?? 0]"
                >{{ this.baseService.translate("visa-list-create")
                }}</ion-button
              >
              <ion-button
                *ngIf="visa.UserForm_Id"
                [routerLink]="['/home/visa', 'new' , visa.Id, visa.UserForm_Id ?? 0]"
                >{{ this.baseService.translate("visa-list-view") }}</ion-button
              >
            </div>
          </ion-card>
        </div>
      </div>
      <app-visa-history *ngIf="selectedTab === 'history' "></app-visa-history>
    </ion-col>
  </ion-row>
</ion-content>
