
<!-- <div *ngFor="let slide of Slides">
  <ion-img (click)="onClick(slide)" src="{{slide.fileUrl}}" alt="{{slide.title}}"></ion-img>
</div>  -->
<!-- <swiper>
  <ng-template swiperSlide>
    <div>Slide</div>
  </ng-template>

  <ng-template swiperSlide *ngFor="let slide of Slides">
    <ion-img (click)="onClick(slide)" src="{{slide.fileUrl}}" alt="{{slide.title}}"></ion-img>

  </ng-template>
</swiper> -->
<!-- <ion-slides autoplay="5000" pager="true" [options]="sliderOpts">
  <ion-slide *ngFor="let slide of Slides">
    <ion-img (click)="onClick(slide)" src="{{slide.fileUrl}}" alt="{{slide.title}}"></ion-img>
  </ion-slide>
</ion-slides> -->
