@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 10;
    font-display: swap;
    src: url("OpenSans-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("OpenSans-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 300;
    src: url("OpenSans-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("OpenSans-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("OpenSans-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 750;
    font-display: swap;
    src: url("OpenSans-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("OpenSans-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("OpenSans-BoldItalic.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("OpenSans-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
@font-face {
    font-family: openSans;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("OpenSans-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0000 - U+007F;
}
