<ion-row class="first-page ion-justify-content-center">
  <ion-col size="12" size-md="5" class="p-0">
    <ion-row>
      <ion-col size="11" size-md="9" class="header-box mx-auto mb-2">
        <div class="m-2 mx-3 d-flex">
          <div *ngFor="let lang of PageData.languages">
            <div *ngIf="this.baseService.language().Symbol !== lang.Symbol " class="mx-2">
              <ion-text (click)="onChangeLanguageLogin(lang)" class="text-light text-small"
                style="cursor: pointer;">{{lang.Caption}}</ion-text>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column ion-justify-content-start m-2 mb-2 mx-4">
          <ion-label *ngIf="this.baseService.language().Symbol === 'fa' " class="text-light text-small">به «دانشگاه
            من» خوش آمدید</ion-label>
          <ion-label *ngIf="this.baseService.language().Symbol === 'en' " class="text-light text-small">Welcome To
            “My University”</ion-label>
          <ion-label *ngIf="this.baseService.language().Symbol === 'ar' " class="text-light text-small">مرحباََ بك في
            "جامعتي"</ion-label>
        </div>
        <div class="menu mx-auto d-flex">
          <div *ngFor="let option of menu" class="menuBox2">
            <a (click)="goToLink(option)">
              <div class="button mx-auto">
                <ion-icon *ngIf="!option.Icon.startsWith('https:') && !option.Icon.startsWith('/assets')"
                  [name]="option.Icon" class="text-xlarge" color="tertiary"></ion-icon>
                <img *ngIf="option.Icon.startsWith('https:') || option.Icon.startsWith('/assets')"
                  class="text-xlarge menuImg" [src]="option.Icon" />
              </div>
            </a>
            <p class="mt-2 text-center">{{option.Title}}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="text-center my-2">
        <ion-text color="primary">{{this.baseService.translate('reset-pass-title')}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="d-flex flex-column ion-align-items-center ion-justify-content-between">
      <!-- Forms Card -->
      <ion-col size="10" size-md="8" class="d-flex ion-justify-content-center flex-column bg-gradiant">
        <ion-card class="main-card m-0 p-0">
          <!--Insert Phone Number-->
          <ion-row class="ion-justify-content-center" *ngIf="PageData.Step === 'Reset'">
            <ion-col size="8" class="ion-text-center mt-3">
              <ion-text class="reset-password-text text-style">
                {{this.baseService.translate('reset-pass-page1-title')}}
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col size="12">
                  <ion-text
                    class="reset-text text-style text-primary">{{this.baseService.translate('login-username')}}</ion-text>
                  <ion-input type="tel" autofocus="true" [(ngModel)]="PageData.Items.Username"></ion-input>
                </ion-col>
                <ion-col class="ion-text-center ion-margin-top">
                  <ion-button color="primary" class="text-style" [disabled]="!PageData.Items.Username"
                    (click)="onCheckUser()">
                    {{this.baseService.translate('reset-pass-btn-send')}}
                  </ion-button>
                </ion-col>
              </ion-row>
              <div class="text-center">
                <ion-list class="loginbtn text-primary"
                  routerLink="/login">{{this.baseService.translate('login-btn')}}</ion-list>
              </div>
            </ion-col>
          </ion-row>

          <!-- Set Password-->
          <ion-row class="ion-justify-content-center reset-password" *ngIf="PageData.Step === 'setPassword'">
            <ion-col size="12" size-lg="10" size-md="8" class="ion-text-center mt-2">
              <ion-text color="dark">
                {{this.baseService.translate('reset-pass-page3-title')}}
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-row>
                <ion-col size="12">
                  <ion-text
                    class="reset-text-form">{{this.baseService.translate('reset-pass-page3-password')}}</ion-text>
                  <ion-input type="password" enterkeyhint="next" [(ngModel)]="UserData.Password" inputmode="password"
                    minlength="6" maxlength="255" autofocus="true"></ion-input>
                </ion-col>
                <ion-col size="12">
                  <ion-text
                    class="reset-text-form">{{this.baseService.translate('reset-pass-page3-repeat-password')}}</ion-text>
                  <ion-input type="password" enterkeyhint="next" [(ngModel)]="UserData.ConfirmPassword"
                    inputmode="password" minlength="6" maxlength="255" autofocus="true"></ion-input>
                </ion-col>

                <ion-col size="12" class="d-flex flex-column ion-text-center formscol">
                  <ion-text color="dark">{{this.baseService.translate("reset-pass-page2-title")}}</ion-text>
                  <ion-text class="my-2">{{this.baseService.translate("reset-pass-page2-guid")}}</ion-text>
                </ion-col>
                <ion-col size="12">
                  <form [formGroup]="confirmCodes">
                    <ion-row class="ion-justify-content-center">
                      <ion-col size="12" class="reset-box d-flex flex-row ion-justify-content-center ">
                        <div class="flex-1 mx-1"><ion-input type="tel" maxlength="1" class="input-codes"
                            inputmode="numeric" autocomplete="off" [ngClass]="{'input-full' : pageDataDigits.digit1}"
                            formControlName="digit1" [(ngModel)]="pageDataDigits.digit1" #Field1
                            (keyup)="gotoNextField(Field2)"></ion-input></div>

                        <div class="flex-1 mx-1"><ion-input type="tel" maxlength="1" class="input-codes"
                            inputmode="numeric" autocomplete="off" [ngClass]="{'input-full' : pageDataDigits.digit2}"
                            formControlName="digit2" [(ngModel)]="pageDataDigits.digit2" #Field2
                            (keyup)="gotoNextField(Field3)"></ion-input></div>

                        <div class="flex-1 mx-1"><ion-input type="tel" maxlength="1" class="input-codes"
                            inputmode="numeric" autocomplete="off" [ngClass]="{'input-full' : pageDataDigits.digit3}"
                            formControlName="digit3" [(ngModel)]="pageDataDigits.digit3" #Field3
                            (keyup)="gotoNextField(Field4)"></ion-input></div>

                        <div class="flex-1 mx-1"><ion-input type="tel" maxlength="1" class="input-codes"
                            inputmode="numeric" autocomplete="off" [ngClass]="{'input-full' : pageDataDigits.digit4}"
                            formControlName="digit4" [(ngModel)]="pageDataDigits.digit4" #Field4
                            (keyup)="gotoNextField(Field5)"></ion-input></div>

                        <div class="flex-1 mx-1"><ion-input type="tel" maxlength="1" class="input-codes"
                            inputmode="numeric" autocomplete="off" [ngClass]="{'input-full' : pageDataDigits.digit5}"
                            formControlName="digit5" [(ngModel)]="pageDataDigits.digit5" #Field5
                            (ionChange)="onSave()"></ion-input>
                        </div>
                      </ion-col>
                      <ion-col size="12" class="text-center">
                        <ion-text class="text-primary time-send">{{PageData.counter | formatTime}}</ion-text>
                      </ion-col>
                      <ion-col size="12" class="text-center d-flex ion-justify-content-center">
                        <ion-button color="primary" class="text-style" [disabled]="PageData.Waiting" (click)="onSave()">
                          {{this.baseService.translate('reset-pass-btn-send')}}
                        </ion-button>

                        <ion-button color="primary" fill="outline" class="mx-2"
                          (click)="onBack()">{{this.baseService.translate("signup-return")}}</ion-button>
                      </ion-col>
                    </ion-row>
                  </form>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    
    <!-- Footer -->
    <ion-row>
      <ion-col size="12" class="d-flex ion-justify-content-center flex-column mt-2">
        <div class="d-flex flex-column ion-justify-content-start ion-align-items-center">
          <ion-img class="uniLogo mt-1" src="./assets/icon/IAUN-logo.png"></ion-img>
        </div>
        <div class="d-flex flex-column ion-align-items-center mb-3">
          <ion-text class="text-medium">{{this.baseService.translate('login-select-roles-label')}}</ion-text>
          <ion-text class="text-medium">{{this.baseService.translate('common-version')}}
            {{version}}</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-col>

  <!-- Image swiper -->
  <ion-col size-md="7" class="img-swiper p-0">
    <swiper [config]="config" dir="ltr" #swiper [pagination]="pagination">
      <ng-template swiperSlide *ngFor="let img of Images">
        <img [src]="img.src" [alt]="img.alt" />
      </ng-template>
    </swiper>
    <div class="icon-sliders">
      <div>
        <ion-icon name="chevron-forward-circle-sharp"
          class="swiper-navigation-next swiper-navigation-disabled"></ion-icon>
      </div>
      <div>
        <ion-icon name="chevron-back-circle-sharp" class="swiper-navigation-prev swiper-navigation-disabled"></ion-icon>
      </div>
    </div>
  </ion-col>
</ion-row>