.Description-job {
  text-align: justify;
  letter-spacing: initial;
}

ion-card {
  box-shadow: none !important;
}

.logo-company {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  img {
    height: 60px;
  }
}

.column-gap {
  column-gap: 5px;
}
