.dateBox {
    width: 100%;
    height: 42px !important;
    background-color: #fff !important;
    border: 1px solid var(--ion-color-medium) !important;
    border-radius: 10px !important;

    ion-input {
        border: none !important;
        width: 100% !important;

        ::ng-deep {
            .native-input.sc-ion-input-md {
                --padding-bottom: 8px !important;
            }
        }
    }
}


mat-calendar {
    margin-bottom: 3rem;
}

ion-button.submit {
    width: 95%;
    height: 48px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}