ion-accordion {
  border: none !important;
  box-shadow: none !important;
}

.card-bg {
  height: fit-content;
  background-color: var(--ion-color-primary);
  border-radius: 14px;
  padding: 2px;
  transition: all 0.3s;
}

.gradient {
  background: linear-gradient(180deg, var(--ion-color-primary) 0%, var(--ion-color-secondary) 100%) !important;
}


.myScore {
  background: none;
  border: 1px solid var(--ion-color-secondary);
  border-radius: 50px !important;
}

.invest-btn {
  --border-radius: 50px !important;
}

ion-modal {
  --height: 50%;

  .example-price {
    background: var(--ion-color-light);
    ion-segment-button {
      min-width: 110px;
      border: 1px solid var(--ion-color-dark-tint) !important;
      border-radius: 50px !important;
      margin: 0 0.25rem !important;
      cursor: pointer;
    }

    .segment-button-checked {
      color: var(--ion-color-light-text);
      background: none;
      background-color: var(--ion-color-primary);
      --color-checked: var(--ion-color-light-text) !important;
      --indicator-color: none !important;
    }
  }

}

@media screen and (min-width: 768px) {
  ion-modal {
    --width: 35%;
  }
}



.scoreHistoryRow {
  background-color: rgba(var(--ion-color-primary-rgb), 0.1);
  border-radius: 50px;

  ion-text {
    font-size: 12px;
  }
}

.promotionCard {
  // max-height: 150px !important;

  .imgPromotion {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}

.progress-bar-container {
  border-radius: 15px;
  width: 100%;
  height: 20px;
  direction: ltr;
  position: relative;

  .progress-bar {
    background: linear-gradient(90deg, var(--ion-color-warning) 0%, var(--ion-color-warning-tint) 130.83%);
    border-radius: 15px 0px 0px 15px;
    height: 20px;
    position: absolute;
    left: 0;
  }

  ion-text {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: var(--ion-color-warning-contrast);
  }
}

.headerLabelAccordion {
  font-size: 12px !important;
}

.guidScrollTab {
  width: 70%;
}