@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: 10;
    font-display: swap;
    src: url("NotoSansArabic-Thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("NotoSansArabic-ExtraLight.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: 300;
    src: url("NotoSansArabic-Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("NotoSansArabic-Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("NotoSansArabic-SemiBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: 750;
    font-display: swap;
    src: url("NotoSansArabic-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("NotoSansArabic-ExtraBold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("NotoSansArabic-Black.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("NotoSansArabic-Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
@font-face {
    font-family: notoSansArabic;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("NotoSansArabic-Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    unicode-range: U+0600 - U+06FF;
}
